<div class="row">
  <div class="col-md-12 text-center">
    <h1>Inventario de autos</h1>
  </div>
</div>

<div class="row"
  ng-if="ctrl.codigo == 'all'">

  <div class="col-md-3 offset-md-1">
    <label for="br">Marca</label>
    <input class="form-control"
      id="br"
      type="text"
      ng-model="ctrl.filter.brand"
      placeholder="Busqueca por marca...">
  </div>

  <div class="col-md-3">
    <label for="md">Modelo</label>
    <input class="form-control"
      id="md"
      type="text"
      ng-model="ctrl.filter.model"
      placeholder="Búsqueda por modelo...">
  </div>

</div>
<br>
<div class="row">
  <div class="col-md-10 offset-md-1">

    <table class="table bg-white">
      <caption>Listado de autos</caption>
      <thead>
        <tr class="text-center">

          <th id="code">N°</th>
          <th id="brand">Marca</th>
          <th id="model">Modelo</th>
          <th id="color">Color</th>
          <th id="year">Año</th>
          <th id="price">Precio</th>

        </tr>
      </thead>

      <tbody>
        <tr class="text-center"
          ng-repeat="car in ctrl.cars | filter:ctrl.filter track by $index">

          <th id="code">ID: {{car.id}}</th>
          <td>{{car.brand.name}}</td>
          <td>{{car.model.name}}</td>
          <td>{{car.color}}</td>
          <td>{{car.year}}</td>
          <td>{{car.price | currency}}</td>

        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="row"
  ng-if="ctrl.codigo != 'all'">
  <div class="col-md-2 offset-md-9">
    <button class=" form-control btn btn-primary"
      ng-click="ctrl.viewAll()"> Ver todos</button>
  </div>
</div>

<br>

<div class="row pb-3">
  <div class="col-md-3 offset-md-9">
    <button class=" form-control btn btn-primary"
      ng-click="ctrl.toInsert()"> Agregar nuevo modelo</button>
  </div>
</div>