<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"
    href="#"
    ng-click="mctrl.activeTab = ''">
    <em class="fas fa-car"></em>
    Car Dealer
  </a>

  <div class="collapse navbar-collapse"
    id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item"
        ng-class="{'active': mctrl.activeTab == 'brands'}"
        ng-click="mctrl.activeTab = 'brands'">
        <a class="nav-link"
          href="#!/brands">Marcas</a>
      </li>

      <li class="nav-item"
        ng-class="{'active': mctrl.activeTab == 'models'}"
        ng-click="mctrl.activeTab = 'models'">
        <a class="nav-link"
          href="#!/models/all">Modelos</a>
      </li>

      <li class="nav-item"
        ng-class="{'active': mctrl.activeTab == 'cars'}"
        ng-click="mctrl.activeTab = 'cars'">
        <a class="nav-link"
          href="#!/cars/all">Autos</a>
      </li>

    </ul>

  </div>
</nav>