<!-- TITULO DE LA PAGINA -->
<div class="row">
  <div class="col-md-12 text-center">
    <h1>Registro de inventario de autos</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="row mt-4 pb-4">
      <div class="col-md-4 offset-md-4 text-center">
        <button class="btn btn-info form-control mt-2 mb-3"
          ng-click="mctrl.redirectTo('brands')">
          VER MARCAS
        </button>

        <button class="btn btn-info form-control mt-3 mb-3"
          ng-click="mctrl.redirectTo('models')">
          VER MODELOS

        </button>

        <button class="btn btn-info form-control mt-3 mb-2"
          ng-click="mctrl.redirectTo('cars')">
          VER AUTOS

        </button>

      </div>
    </div>

  </div>
</div>